
:root {
    --main-bg-color: #EAEBE6;
    --main-site-color: #111;
    --main-header-color: #444;
    --main-header-border-color: rgba(0,0,0,.25);
    --link-bg-color: #fff;
    --link-text-color: #333;
    --link-caption-color: #999;
    --link-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255) 70%);
    --link-shadow-hover: rgba(0,0,0,.1);
    --link-text-hover: #111;
}

@media (prefers-color-scheme: dark) {

    :root {
        --main-bg-color: #333;
        --main-site-color: #F5F5F5;
        --main-header-color: #b7b7b7;
        --main-header-border-color: rgba(255,255,255,.25);
        --link-bg-color: #7e7e7e;
        --link-text-color: #e4e4e4;
        --link-caption-color: #ddd;
        --link-gradient: linear-gradient(to bottom, rgba(126, 126, 126, 0), rgb(126, 126, 126) 70%);
        --link-shadow-hover: rgba(255, 255, 255,.3);        
        --link-text-hover: #fff;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
    font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
}
a {
    text-decoration: none;
    font-size: 18px;    
}
h1 {
    display: flex;
    align-items: center;
}
h1 svg {
    fill: var(--main-site-color);
}
h1 a:not(#search),
h1 span {
    display: inline-block;
    font-size: 30px;
    padding-left: 20px;
    color: var(--main-site-color);
    background-size: contain;
}
h1 a:hover {
    text-decoration: underline;
}
h2 {
    display: flex;
    align-items: center;
    color: var(--main-site-color);
}
h2 .previous {
    margin-right: 10px;
    display: flex;
}
h2 .previous svg {
    color: var(--link-text-color);
}
h2 .previous:hover svg {
    color: var(--link-text-hover);
}
header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
header,
footer {
    text-align: center;
}
article .folders,
article .links {
    max-width: 1486px;
    width: 1486px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: unset;
    justify-content: center;
}
article .folders.homepage {
    max-width: 1250px;
    justify-content: flex-start;
}
.folders h4 {
    width: 100%;
    border-bottom: 2px solid var(--main-header-border-color);
    font-size: 20px;
    color: var(--main-header-color);
    margin-bottom: 10px;
}
.folders a {
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0
    rgba(0, 0, 0, 0.25);
    width: 236px;
    color: #333;
    margin: 0 7px 14px;
    padding: 0 !important;
    position: relative;
    float: left;    
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px !important;
    box-sizing: border-box; 
    box-shadow: inset 0 0 0 0 rgba(255,255,255,0.25);
    transition: 0.25s box-shadow ease-in;
}
.folders a:hover {
    box-shadow: inset 0 0 1px 50px rgba(255,255,255,0.25);
    text-shadow: 0 0 3px #555;
}
.links a {
    box-sizing: border-box;
    margin: 0 7px 14px;
    padding: 0 !important;
    position: relative;
    float: left;
    background: var(--link-bg-color);
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0
    rgba(0, 0, 0, 0.25);
    width: 236px;
    color: var(--link-text-color);
    transition: 0.25s color ease-in;
}
.links a:hover {
    color: var(--link-text-hover);
    box-shadow: 0 0 0 2px var(--link-shadow-hover);
}
.links a .img-container {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px;
    position: relative;
}
.links a img {
    opacity: 0;
    transition: .25s ease-in opacity;
    object-fit: cover;
    width: 100%;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    z-index: 2;
}
.links a:hover img {
    opacity: 1.0 !important;
}
.links a .img-container:before {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    box-sizing: border-box;
    transition: .25s ease-in opacity;
    z-index: 1;
}
/* Taken from http://uigradients.com/ */
.links a:nth-child(8n+1) .img-container:before { background-image: linear-gradient(135deg, #1F1C2C,#928DAB); }
.links a:nth-child(8n+2) .img-container:before { background-image: linear-gradient(135deg, #457fca,#5691c8); }
.links a:nth-child(8n+3) .img-container:before { background-image: linear-gradient(135deg, #B24592,#F15F79); }
.links a:nth-child(8n+4) .img-container:before { background-image: linear-gradient(135deg, #C02425,#F0CB35); }
.links a:nth-child(8n+5) .img-container:before { background-image: linear-gradient(135deg, #d38312,#002f4b); }
.links a:nth-child(8n+6) .img-container:before { background-image: linear-gradient(135deg, #5A3F37,#2C7744); }
.links a:nth-child(8n+7) .img-container:before { background-image: linear-gradient(135deg, #4DA0B0,#D39D38); }
.links a:nth-child(8n+8) .img-container:before { background-image: linear-gradient(135deg, #B993D6,#8CA6DB); }

.folders a:nth-child(8n+1) { background-image: linear-gradient(135deg, #1F1C2C,#928DAB); }
.folders a:nth-child(8n+2) { background-image: linear-gradient(135deg, #45ca85,#5691c8); }
.folders a:nth-child(8n+3) { background-image: linear-gradient(135deg, #B24592,#F15F79); }
.folders a:nth-child(8n+4) { background-image: linear-gradient(135deg, #C02425,#F0CB35); }
.folders a:nth-child(8n+5) { background-image: linear-gradient(135deg, #d38312,#002f4b); }
.folders a:nth-child(8n+6) { background-image: linear-gradient(135deg, #5A3F37,#2C7744); }
.folders a:nth-child(8n+7) { background-image: linear-gradient(135deg, #4DA0B0,#D39D38); }
.folders a:nth-child(8n+8) { background-image: linear-gradient(135deg, #B993D6,#8CA6DB); }

.folders a[class] {
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}

.folders a.clouds,
.folders a.sky-skybox-wind { background-image: linear-gradient(135deg, #457fca, #b2d7fa); }

.folders a.lava,
.folders a.fire { background-image: linear-gradient(135deg, #B24545,#E28A4A); }

.folders a.ghost,
.folders a.fog { background-image: linear-gradient(135deg, #d1d1d1,#414141); }

.folders a.sand { background-image: linear-gradient(135deg, #A39237,#FFD427); }

.folders a.snow-ice { background-image: linear-gradient(135deg, #A8F1FF,#0A9F9F); }

.folders a.grass,
.folders a.trees,
.folders a.terrain { background-image: linear-gradient(135deg, #53A719,#397805); }

.folders a.rain,
.folders a.liquid,
.folders a[class^="water"] { background-image: linear-gradient(135deg, #37C7DE,#1F61E9); }

.links a .info {
    padding: 10px;
}
.links a .info span {
    display: block;
    font-weight: 600;
    font-size: 17px;
    position: relative;
    height: 4em;
    overflow: hidden;
}
.links a .info span::after {
    content: '';
    background: var(--link-gradient);
    position: absolute;
    right: 0;
    left: 0;
    text-align: left;
    bottom: 0;
    height: 1.2em;
}
.links a i {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 7px;
    z-index: 1;
    font-style: normal;
    color: #3F3F3F;
    background: #fff;
    border-top-left-radius: 10px;
}
.links a i:hover {
    background-color: #AB4642;
    color: #fff;
}
.links a i:first-letter {
    color: #AB4642;
}
.links a i:hover:first-letter {
    color: #fff;
}
.links a .info em {
    font-size: 15px;
}
.links a em {
    font-size: 15px;
    color: var(--link-caption-color);
    font-style: normal;
    font-weight: 100;
}

footer {
    color: #666;
    text-align: center;
    font-size: 15px;
    text-shadow: none;
    padding: 20px 10px;
}
footer a {
    font-size: 15px;
    color: #666;
    text-decoration: underline;
}
footer a:hover {
    text-decoration: none;
}

body.search-enabled > header h2:not(.search-header), 
body.search-enabled > article:not(.search-results) {
    display: none;
}

#search {
    margin-left: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}
#search:hover {
    text-decoration: none;
}

section.search-results {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: var(--main-bg-color);
}
section.search-field {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    width: 500px;
    box-sizing: border-box;    
    border-radius: 10px;
}
section.search-field input {
    border: none;
    margin: 0;
    display: block;
    padding: 5px;
    font-size: 20px;
    flex: 1;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;      
    border-radius: 0;  
    -webkit-appearance: none;
    box-shadow: none;
    -moz-appearance: none;
    appearance: none;
}
section.search-field a {
    color: #111;
    margin-left: 15px;
    padding: 5px;
    line-height: 20px;
    height: 30px;
    display: block;
    box-sizing: border-box;
}
@media (min-width: 0) and (max-width: 350px) {

    .links a .img-container {
        display: none;
    }
    .links a .info {
        padding: 10px;
        flex-grow: 1;
    }
    .links a {
        display: flex;
    }
    .links a i {
        border-radius: 0;
        align-items: center;
        display: flex;
        position: static;
        color: #AB4642;
    }
}
@media (min-width: 0) and (max-width: 499px) {

    section.search-field {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        top: 0;
        padding: 20px 10px;
    }
    article .links,
    article .folders {
        padding: 0 7px;
        width: auto;
        max-width: 100%;
    }
    article .links a,
    article .folders a {
        margin: 0 0 14px;
        width: 100%;
    }
    article .links a .info span {
        font-size: 15px;
        height: auto;
    }
    article .links a .info span:after {
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 769px) {
    article .links,
    article .folders {
        width: 500px;
    }
}
@media (min-width: 770px) and (max-width: 999px) {
    article .links,
    article .folders {
        width: 770px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    article .links,
    article .folders {
        width: 1000px
    }
}

@media (min-width: 1250px) and (max-width: 1499px) {
    article .links,
    article .folders {
        width: 1250px
    }
}

@media (min-width: 1500px) and (max-width: 1749px) {
    article .links,
    article .folders {
        width: 1500px
    }
}

@media (min-width: 1750px) and (max-width: 1999px) {
    article .links,
    article .folders {
        width: 1750px
    }
}

@media (min-width: 2000px) and (max-width: 2249px) {
    article .links,
    article .folders {
        width: 2000px
    }
}

@media (min-width: 2250px) and (max-width: 2499px) {
    article .links,
    article .folders {
        width: 2250px
    }
}

@media (min-width: 2500px) and (max-width: 2749px) {
    article .links,
    article .folders {
        width: 2500px
    }
}
